<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form ng-submit="search()" >
                <input type="text" class="searchInput" id="searchInput" ng-model="searchData.query" name="searchInput">
                <button class="searchBtn btn btn-codepark" name="searchBtn" type="submit">Search</button>
            </form>
            <ul>
                <li>Topics</li>
                <li>Full String</li>
                <li>New Content</li>
                <li>Unansered</li>
                <li>old</li>
                <li>Answered only</li>
                <li>Unanswered only</li>
            </ul>
        </div>
        Content By Tag <br>
        <div class="col-lg-12 text-danger" ng-repeat="content in questionData">
            title : {{content.questionTitle}} <br>
            sub : {{content.subQuestion}} <br>
            tags : {{content.tag}} <br>
            <hr class="hr-full-dark">
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', function () {
        var parameter = document.URL.split("=").splice(-1,1);
        console.log(parameter[0]);
        document.getElementById('searchInput').value = parameter[0];
//your code right here;
    }, false);
</script>