html, body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	color: #444;
	grid-template-rows: 30% auto;
	/*font-size: 15px;*/
}
.navbar-container {
	/*position: fixed;*/
}
.navbar {
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
}
.nav-list {
	margin: 8px 8px 0px 8px;
	list-style: none;
}
.nav-item {
	text-decoration: none;
	color: #777;
	/*font-size: 16px;*/
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
}
.nav-item-clicked {
	color: #00B389;
	border-bottom: 3px solid #00B389;
	/*text-decoration: underline;*/
}
.nav-item:hover {
	color: #00B389;
	/*text-decoration: underline;*/
	border-bottom: 3px solid #00B389;
}
hr{
	margin-top: 2.5px;
	width: 100%;
	margin-bottom: 0px;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.heading {
	display: flex;
	flex-wrap: nowrap;
	/*top: 10px;*/
}
#brand {
	color: #00B389;
	margin-right: 5px;
	cursor: pointer;
	margin-left: 10px;
}
#header {
	background-color: #fff;
	position: sticky;
	top: 0px;
	background-attachment: fixed;
	grid-row-start: 1;
	grid-row-end: 2;
	display: block;
	z-index: 10;

	/*overflow: hidden;*/
}
#pre-header {
	background-color: #fff;
	position: sticky;
	top: 0px;
}
.content {
	display: grid;
	grid-template-columns: 30% auto;
	grid-gap: 10px;
	padding: 0px;
	top:-250px;
	/*overflow: auto;*/
}
.menu {
	margin-top: 0px;
	/*grid-row-start: 2;*/
	/*grid-row-end: 2;*/
	grid-column-start: 1;
	grid-column-end: 2;
	overflow-y: scroll;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	padding-bottom: 10px;
	height: 500px;
	/*padding-right: 10px;*/
	position: sticky;
	top: 108px;
	left: 0;
}
.menubar {
	margin: 0;
	padding: 0;
}
.menu-list {
	list-style: none;
	margin-top: 20px;
	/*margin-left: 20px;*/
}
.menu-item {
	text-decoration: none;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #444;
	/*font-weight: 600;*/
}
.menu-item:hover {
	color: #00B389;
}
.menu-item-clicked {
	color: #00B389;
}
.inline-link {
	color: #00B389;
}
.description {
	/*grid-column-start: 6;
	grid-column-end: 8;*/
	scroll-behavior: smooth;
	grid-row-start:
	/*overflow-y: scroll;*/
}
.desc-element {
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.inner-container {
	/*scroll-behavior: smooth;*/
}
@media only screen and (max-width: 1000px) {
	.menu {
		display: none;
	}
	.description {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.inner-container {
		width: 100%;
	}
}
@media only screen and (max-width: 460px) {
    html {
    	font-size: 14px;
    }
    .menu-item {
    	font-size: 14px;
    }
}
@media only screen and (max-width: 370px) {
    html{
    	font-size: 14px;
    }
    .menu-item {
    	font-size: 14px;
    }
}
