html,body {
	margin: 0px;
	background-color: #e0ebeb;
	/*background-color: rgb(0,0,0,0.03);*/
	font-family: 'Roboto', sans-serif;
	color: #555;
	width: 100%;
}
.navbar {
	background-color: #00B389;
	margin: 0px;
	padding: .2rem;
	position: sticky;
	top: 0;
	z-index: 1;
}
.c-align {
	text-align: center;
}
.container {
	width: 98%;
	margin: 0 auto;
	display: flex;
	justify-content: center;	
}
.column {
	display: grid;
	grid-template-columns: 22% 2% 52% 2% 22%;
	/*grid-column-gap: 1.5rem;*/
}
.navbar-menu {	
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.nav-brand {
	grid-column-start: 1;
	grid-column-end: 2;
	color: #00B389;
	height: 30px;
	text-align: center;
}
.search-li {
	grid-column-start: 2;
	grid-column-end: 8;
}
.search-form {
	display: flex;
}
.search-field {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	padding: .5rem;
	border-radius: 2px;
	border: 1px solid #fff;
	color: #555;
}
.icons {
	grid-column-start: 9;
	grid-column-end: 11;
	display: flex;
}
.search-icon {
	color: #eee;
	font-size: 30px;
}
.search-icon:hover {
	/*background-color: #009975;*/
	/*border-color: #009975;*/
	color: #fff;
}
.search-submit {
	background-color: #00B389;
	/*border-color: #00B389;*/
	border: 1px solid #00B389;
}
.search-submit:hover {
	background-color: #009975;
	border-color: #009975;
	border-radius: 2px;
	cursor: pointer;
}
.bell {
	color: #eee;
	font-size: 30px;
	cursor: pointer;
}
.bell:hover {	
	color: #00B389;
	background-color: #eee;
}
.add {
	margin-left: 1rem;
	color: #eee;
	font-size: 30px;
	cursor: pointer;
}
.add:hover {
	/*background-color: #009975;*/
	/*border-color: #009975;*/
	color: #fff;
}
.user-img-div {
	/*display: flex;*/
	cursor: pointer;
}
.user-img {
	border-radius: 50%;
	height: 30px;
	margin-left: 1.7rem;
	cursor: pointer;
}
.caret-down {
	color: #fff;
	margin-left: -5px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.notifications {
	position: relative;
	display: inline-block;
	background-color: #00B389;
}
.notifications {
	background-color: #00B389;
}
.notif-content {
	display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    overflow: auto;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.notif-content span{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.notif-clicked {
	display: block;
}
.notif-item {
	text-decoration: none;
	color: #555;
}
.settings-item {
	text-decoration: none;
	color: #555;	
}
.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    overflow: auto;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content-click {
	display: block;
}
.dropdown-content .dropdown-content:after {
    margin-left: -20px;
    position: absolute;
    left: 50%;
    top: -8px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #000;
}
.dropdown-content span{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.user-img-div:hover {
	display:block;
}
/*.user-content {
	list-style: none;
	padding: 0px;
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.user-content:hover {
	display: block;
}*/
.dashboard {
	/*display: flex;*/
	/*flex-wrap: wrap;*/
}
.user-details-div {
	grid-column-start: 1;
	grid-column-end: 2;
	/*grid-row-start: 1;*/
	/*grid-row-end: 2;*/
	text-align: center;
	position: sticky;
	top: 112px;
	/*padding: .2rem;*/
	height: 315px;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	border: .1px solid #999;
	/*border-radius: 4px;*/
}
.user-details {	
	background-color: #fff;
	/*grid-row-start: 3;*/
	/*margin-top: 60px;*/
	padding: .5rem;
}
.user-feed {
	font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
	grid-column-start: 3;
	grid-column-end: 4;

	/*grid-row-start: 3;*/
}
.ask-ques {
	color: #bbb;
	padding: .5rem;	
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	border: .1px solid #bbb;
	overflow: auto;
}
.ask-ques-user {
	display: flex;
}
.ask-ques-user-img {
	height: 26px;
	border-radius: 50%;
	margin-right: 5px;
	border: 1px solid #eee;
	cursor: pointer;
}
.ask-ques-username {
	font-weight: normal;
	margin-top: 5px;
	cursor: pointer;
}
.ask-ques-text {
	font-weight: 600;
	cursor: pointer;
	font-size: 18px;
	margin-top: 0px;
}
.ask-ques-text:hover {
	color: rgba(0, 179, 137, .9);
}
.ask-ques-username:hover {
	text-decoration: underline;
}
.other-user-detail {
	/*margin-top: 5px;*/
	display: flex;
	margin-bottom: 5px;
	margin-right: 4px;
	align-items: center;
}
.other-user-detail-img {
	border-radius: 50%;
	height: 40px;
	margin-top: 0px;
	margin-right: 5px;
}
.other-user-detail-bio {
	color: #333;
}
.feed {
	font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
	background-color: #fff;
	padding: 1rem 1.5rem 1rem 1.5rem;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	border: 1px solid #ddd;
	/*margin-top: -6px;*/
	margin-top: 1.1px;
	/*height: 150px;*/
	overflow: auto;
}
.feed-detail {
	color: #999;
	/*font-size: 14px;*/
	display: flex;
}
.feed-detail-category {
	margin-right: 3px;
	margin: 0px;

}
.feed-detail-tag {
	margin: 0px;
}
.feed-ques {	
	font-size: 18px;
	font-weight: bold;
	/*color: rgba(0,0,0,0.8);*/
	color: #333;
	cursor: pointer;
	/*margin-top: 0px;*/
}
.feed-ques:hover {
	text-decoration: underline;
}
.feed-content {
	margin-top: 10px;
	font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
	/*font-size: 1px;*/
}
.user-score {
	grid-column-start: 5;
	grid-column-end: 6;
	/*grid-row-start: 1;*/
	background-color: #fff;`
	padding: .5rem;
	position: sticky;
	top: 112px;
	height: 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	border: .01px solid #bbb;
}
.user-details-img-div {
	/*grid-row-start: 1;*/
	/*grid-row-end: 3;*/
	height: 40px;
	background-image: url('images/profilebg1.jpg');
	padding: .3rem;
}
.user-details-img {
	border-radius: 50%;
	height: 70px;
	border: 1px solid #fff;
}
.answer-column {
	display: grid;
	grid-template-columns: 17% 60% 21%;
	grid-column-gap: 1rem;
}
.answer-feed {
	background-color: #fff;
	margin-top: 1.1px;
	grid-column-start: 2;
	grid-column-end: 3;
}
.answer-feed-question {
	padding: 1rem;
	display: flex;
	align-items: center;
}
.answer-feed-img {
	border-radius: 50%;
	height: 35px;
	margin-right: 1rem;
}
.anchor {
	color: #00B389;
	text-decoration: none;
}
.question-detail {
	grid-column-start: 3;
	background-color: #fff;
	padding: .1rem;
	height: 320px;
	text-align: center;
	position: sticky;
	top: 111px;
}
.asker-detail {
	border-radius: 50%;
	height: 100px;
	margin-bottom: 0px;
}
.hr-asker-detail-1 {
	width: 80%;
}
.question-detail-answeredby {
	display: flex;
	justify-content: center;
	align-items: center;
}
.question-detail-answeredby-img {
	height: 30px;
	margin-left: 5px;
}
.question-detail-noview {
	margin-top: 0px;
	font-size: 20px;
}
.hr-asker-detail-2 {
	width: 50%;
}
.topic {
	padding-left: 1rem;
	margin-top: 0px;
}
.question-title {
	margin-top: 0px;
	margin-bottom: 5px;
}
.tags {
	display: flex;
	align-items: center;
	padding: 1rem 1rem 0rem 1rem;
}
.tags-item {
	margin-left: 1rem;
}
.hr-ninetyfive {
	width: 95%;
}
.editor {
	text-align: left;
	min-height: 200px;
	overflow: auto;
}
.submit-answer {
	display: flex;
	justify-content: center;
}
.submit-btn {
	padding: .7rem 1rem .7rem 1rem;
	border: 1px solid rgba(0,0,0,0.3);
	color: #00B389;
	background-color: #fff;
	margin: 1rem;
	cursor: pointer;
}
.submit-btn:hover {
	background-color: #00B389;
	color: #fff;
	border: 1px solid #00B389;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
hr {
	border-top: 1px solid rgb(0,0,0,0.1);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
@media only screen and (max-width: 1000px) {
	.dashboard {
		grid-template-columns: 0% 100% 0%;
	}
	.user-feed {
		grid-column-start: 1;
		grid-column-end: 4;
		width: 100%;
		margin: 0 auto;
	}
	.user-details-div {
		display: none;
	}
	.user-score {
		display: none;
	}
	.add {
		display: none;
	}
	.question-detail {
		display: none;
	}
	.user-img {
		margin-left: 1.7rem;
	}
}
@media only screen and (max-width: 900px) {
	body {
		font-size: 14px;
	}
	.search-li {
		grid-column-start: 3;
		grid-column-end: 8;
	}
	.search-field {
		font-size: 14px;
		padding: .2rem;
	}
}
@media only screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}
	.search-field {
		font-size: 12px;
		padding: .2rem;
	}
	.search-icon {
		font-size: 22px;
	}
	.user-img {
		margin-left: .6rem;
		height: 22px;
	}
	.bell {
		font-size: 22px;
		margin-left: 2px;
	}
	.nav-brand {
		height: 22px;
	}
	.caret-down {
		display: none;
	}
}